  
    <!-- <button (click)="loginRedirect()">Login</button>
    <button (click)="logout()">Logout</button>
    <a [routerLink]="['about']">About</a>
    <a [routerLink]="['contact']">Contact</a>
   -->
   <div class="header">
   <app-nav></app-nav>
    </div>

  <div class="container">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
   
    <router-outlet *ngIf="!isIframe"></router-outlet>
 
  </div>
  <div class="footer">
  <app-footer></app-footer>
</div>